DJANGO_SECRET_KEY=ebtpo91@5d3go$0ogs9596m+-$5c!dr5hb4+*w^km4g*_kyckd
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=hrms_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=llama3
OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
OPENAI_API_KEY=your-azure-openai-key
OPENAI_API_VERSION=2024-10-21
OPENAI_MODEL=gpt-4.1
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
